@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/* PRIMARY */
/* SECONDARY */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

p {
  margin: 0;
}

#main {
  background-color: #0f1424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}

#main .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin-top: 5rem;
  background-color: #1c1f4a;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#main .profile .period p:first-child {
  margin-left: 1.5rem;
}

#main .profile .period p:last-child {
  margin-right: 1.5rem;
}

#main .profile .user {
  color: #bdc1ff;
  border-radius: 1rem;
  background-color: #5847eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

#main .profile .user .presentation p:first-child {
  font-size: 1em;
  margin-bottom: 0.4rem;
}

#main .profile .user .presentation p:last-child {
  font-size: 1.4em;
  font-weight: 300;
}

#main .profile .period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6f76c8;
  padding: 2rem 0;
}

#main .profile .period p.active {
  color: #bdc1ff;
}

#main .profile .period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jeremy-robson {
  border-radius: 100%;
  border: 4px solid white;
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.activities {
  width: 85%;
}

.card {
  margin-bottom: 2rem;
  padding-top: 1.25rem;
  border-radius: 1rem;
  z-index: 1;
}

.label-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-edit p {
  font-weight: 500;
  font-size: 18px;
  color: #bdc1ff;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.details p:first-child {
  font-weight: 300;
  color: #bdc1ff;
  font-size: 1.5em;
}

.details p:last-child {
  font-weight: 300;
  color: #bdc1ff;
  font-size: 0.8em;
}

.work,
.play,
.study,
.exercise,
.social,
.self-care {
  background-color: #1c1f4a;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1.2rem 1rem;
  z-index: 2;
}

.card:has(.work) {
  background-color: #ff8c66;
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: -20%;
}

.card:has(.play) {
  background-color: #56c2e6;
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: -10%;
}

.card:has(.study) {
  background-color: #ff5c7c;
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: -10%;
}

.card:has(.exercise) {
  background-color: #4acf81;
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: -5%;
}

.card:has(.social) {
  background-color: #7536d3;
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: -40%;
}

.card:has(.self-care) {
  background-color: #f1c65b;
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -12%;
}
/*# sourceMappingURL=style.css.map */